<!-- templates/index.html -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
  <title>User menu</title>
  <script>
    async function populateForm() {
      let response = await fetch('/getcookie');

      // Get response as JSON
      let data = await response.json();

      // data is a list
      let userId = data[1];
      document.getElementById('userid').value = userId;
    }
  </script>
</head>

<body onload="populateForm()">
<h1>User menu</h1>
<form>

  <label for="userid">User ID:</label>
  <input type="text" id="userid">
  <input type="hidden" name="userid" id="userid-for-actions">

  <button type="submit" formaction="/scan">Add to/Remove from queue</button>

  <button type="submit" formaction="/position">Get position in queue</button>

  <button type="submit" formaction="/queue">See queue</button>

</form>

<p>Current User id: {{ identifier }}</p>
<p>Current queue position: {{ position }}</p>

<script>
  const form = document.querySelector('form');
  const useridInput = document.querySelector('#userid');
  const hiddenName = document.querySelector('#userid-for-actions');

  form.addEventListener('submit', () => {
    hiddenName.value = useridInput.value;
  });
</script>

</body>
</html>